* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-weight:lighter;
}

/* mobile response  */

@media (min-width:800px) {
  .about-div {
    display: flex;
  }  
}

@media (max-width:800px) {
  .about-div {
    flex-direction: column;
    row-gap: 1px;
  }  

  .about-icon {
    padding-top: 2%;
    justify-content: center;
  }

  .about-text {
    min-width: 95%;
    margin-top: -10%;
  }
}

/* navigation link styling */
nav {
  list-style-type: none;
  text-align: center;
}

nav li {
  font-size: 1.5rem;
  padding: 0 1%;
  display: inline;
}

.bullet-ul {
  margin-left: 10%;
  font-size: 14px;
}

strong {
  font-weight: 500;
}

span:hover {
  background-color: rgba(255,105,180, .4);
  border-radius: 70px;
}

/* home page styling */

#canvas {
  width: 100%; 
  min-height: 100%;
  background: linear-gradient(to bottom,#d494e0,#a1a1cf,#b6a1cf,#cba1cf,#ed8f82,#eba946);
  background-size: 400% 400%;
  transition: 5s; 
  z-index: -1;
  position: absolute;
}

#canvas:hover {
  background-position: bottom;
}

body canvas {
  display: flex;
}

body {
  display:grid;
}

.nav-div{
  margin-top:5%;
  margin-bottom: 2%;
  position: relative;
}

.about-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  height: 100%;
  width: 70%;
  margin-top: 10px;
  margin: auto;
  padding: 10px;
  background: rgba(255, 255, 255, .8);
  border-radius: 15px;
  box-shadow: 1px 1px 10px hotpink;
  z-index: 1;
  position: relative;
  overflow-y: auto;
}

.about-icon{
  display: flex;
  align-items: center;
  width: 20%;
  position: relative;
}

.about-text{
  display: flex;
  align-items: center;
  width: 70%;
  position: relative;
}

.about-text p {
  text-align:center;
  font-size: 14px;
}

.main-div {
  display: flex;
  justify-content: center;
  background: rgba(255, 255, 255, .8);
  border-radius: 15px;
  box-shadow: 1px 1px 10px hotpink;
  width: 70%;
  max-height: 450px;
  overflow-y: auto;
  margin-top: 10px;
  margin: auto;
  padding: 10px 10px;
  background: rgba(255, 255, 255, .8);
  z-index: 1;
  position: relative;
}

.main-div::-webkit-scrollbar {
  display: none;
}

.main-div {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.overflow-div {
  margin: auto;
  width: 95%;
}

td {
  padding: 5px 5px;
}


.footer-div{
  padding-top: 20px;
  height: 30px;
}

.signature-div {
  font-size: 10px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}


/* link styling */
a {
  color: #ffffff;
  text-decoration: none;
  display: inline;
  padding: 0px;
}

a.pub-links {
  color: hotpink;
  text-decoration: none;
  display: inline;
  padding: 0px;
}

/* text styling */

p {
  font-size: 14px;
}

h1 {
  text-align:center;
  margin-bottom:10px;
}

aside {
  color: white;
  background-color: rgba(255,105,180, .7);
  border-radius: 70px;
}

p, aside {
  padding: 10px;
  text-align: justify;
}

hr {
  margin-bottom: 2%;
}
